/*Login Page*/

.about {
    width: 700px;
    padding: 20px;
    position: relative;
    margin: auto;
    top: 20vh;
    border-radius: 15px;
    text-align: center;
    background: rgba(255, 255, 255, 0.88);
    -webkit-box-shadow: 0px 0px 38px 0px rgba(255, 255, 255, 1);
    -moz-box-shadow: 0px 0px 38px 0px rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 38px 0px rgba(255, 255, 255, 1);
}

.about h1 {
    margin: 0;
}

.about-what ul {
    list-style: none;
}

.about-credits a {
    transition: all 0.30s ease-in-out;
    padding: 3px;
}

.about-credits a:hover {
    background-color: #1C263C;
    border-radius: 10px;
    color: white;
}