/*Imports*/

@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url("icomoon.css");

/*Body and Container*/

body {
    background: #3CA55C;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #67ca44, #54ca72);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #4dca44, #14ca72);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.container {
    font-family: 'Montserrat', sans-serif;
    color: #1C263C;
}

.container a {
    text-decoration: none;
    color: #1C263C;
}


/*Login Page*/

.login-logo {}

.login {
    /*-webkit-transition: all 0.30s ease-in-out;*/
    /*-moz-transition: all 0.30s ease-in-out;*/
    /*-ms-transition: all 0.30s ease-in-out;*/
    /*-o-transition: all 0.30s ease-in-out;*/
    width: 500px;
    padding: 20px;
    position: relative;
    margin: auto;
    top: 20vh;
    border-radius: 15px;
    text-align: center;
    background: rgba(255, 255, 255, 0.88);
    -webkit-box-shadow: 0px 0px 38px 0px rgba(255, 255, 255, 1);
    -moz-box-shadow: 0px 0px 38px 0px rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 38px 0px rgba(255, 255, 255, 1);
}

.login h1 {
    margin: 0;
    padding: 0;
}


/*Social Media Icons*/

.login-social a {
    font-size: 50px;
    padding-right: 20px;
}

.login-social i {
    width: 65px;
    height: 55px;
    padding-top: 10px;
    text-align: center;
    vertical-align: middle;
    border: 2px solid black;
    border-radius: 12px;
}

.login-social i:hover,
.login-social a:hover {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
}


/*Facebook*/

.login-social-facebook i {
    background-color: #3a579d;
    color: white;
}

.login-social-facebook i:hover {
    background-color: white;
    color: #3a579d;
}


/*Twitter*/

.login-social-twitter i {
    background-color: #5ea9dd;
    color: white;
}

.login-social-twitter i:hover {
    color: #5ea9dd;
    background-color: white;
}


/*Github*/

.login-social-github i {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 60px;
    background-color: black;
    color: white;
}

.login-social-github i:hover {
    color: black;
    background-color: white;
}


/*Google+*/

.login-social-google i {
    background-color: #dc4b3e;
    color: white;
    font-size: 45px;
}

.login-social-google i:hover {
    color: #dc4b3e;
    background-color: white;
}


/*Warwick*/

.login-social-warwick i {
    font-size: 35px;
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 15px;
    padding-top: 15px;
    color: white;
    background-color: #5b3069;
}

.login-social-warwick i:hover {
    background-color: white;
    color: #5b3069;
}


/*Login Form*/

.login-form {}

.login-form-input {
    padding: 10px;
}

.login-form-input input {
    outline: none;
    padding: 10px;
    border-radius: 25px;
    text-align: center;
    width: 300px;
    height: 20px;
    font-size: 20px;
    color: black;
    border: 2px solid black;
}

.login-form-input input:focus,
textarea:focus {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    box-shadow: 0 0 5px rgba(255, 2, 238, 1);
    border: 1px solid rgba(81, 203, 238, 1);
}

.login-form-submit input {
    color: red;
}