/*Imports*/

@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url("icomoon.css");

/*Body and Container*/

body {
    background: #3CA55C;
    /* fallback for old browsers - no logo */
    background: -webkit-linear-gradient(to left, #67ca44, #54ca72);
    background: linear-gradient(to left, #67ca44, #54ca72);
    background: url("../images/2do.png"), -webkit-linear-gradient(to left, #67ca44, #54ca72);
    /* Chrome 10-25, Safari 5.1-6 */
    background: url("../images/2do.png"), linear-gradient(to left, #4dca44, #14ca72);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.container {
    font-family: 'Montserrat', sans-serif;
    color: #1C263C;
}

.container a {
    text-decoration: none;
    color: #1C263C;
}
