/*Lists container*/

.lists {
    margin-top: 50px;
    cursor: move;
    min-height: 80%;
}


/*Lists*/

.lists ul {
    list-style: none;
}

.lists li {
    display: inline;
}

.lists-list {
    vertical-align: top;
    display: inline-block;
    width: 400px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 15px;
    -webkit-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.75);
    cursor: default;
    margin: 20px;
}

.lists-list-title {
    cursor: text;
    text-align: center;
    background-color: #1C263C;
    color: white;
    border-radius: 5px;
}

.lists-list-title-heading h2 {
    margin-top: 0;
    margin-bottom: 0;
}

.lists-list-title-heading {
    margin: 5px 0;
    width: 230px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
}

.lists-list-title input[name=listName] {
    font-family: 'Montserrat', sans-serif;
    margin-top: 2px;
    outline: none;
    padding: 10px;
    border-radius: 25px;
    border: 2px solid black;
    text-align: center;
    width: 200px;
    height: 20px;
    font-size: 20px;
    color: black;
}

.lists-list-actions {
    display: inline-block;
    width: 40%;
    margin: 5px 0;
    vertical-align: middle;
    text-align: right;
}

.lists-list-actions a {
    color: white;
    margin-left: 7px;
    margin-right: 3px;
    transition: ease-in-out 0.3s all;
}

.lists-list-actions a:hover {
    color: orange;
}

.lists-list-actions-delete a:hover {
    color: red;
}

.lists-list li {
    display: inline;
}


/*List Items*/

.lists-list-items {
    padding-top: 10px;
}

.lists-list-items-item {
    cursor: pointer;
    padding: 10px;
    margin: 7px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 1);
    border: 2px solid #1C263C;
}

.lists-list-items ul {
    list-style: none;
    padding: 0;
}

.lists-list-items-item {
    padding: 10px;
    margin: 7px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 1);
    border: 2px solid #1C263C;
}

.lists-list-items-item-name {
    display: inline-block;
    text-align: center;
    cursor: text;
    width: 200px;
    margin: 0;
}

.lists-list-items-item input[name=itemName] {
    font-family: 'Montserrat', sans-serif;
    margin-top: 7px;
    margin-right: 4px;
    margin-bottom: 6px;
    outline: none;
    padding: 10px;
    border-radius: 25px;
    border: 2px solid black;
    text-align: center;
    width: 172px;
    height: 23px;
    font-size: 20px;
    color: black;
}


/*List Actions*/

.lists-list-items-item-actions {
    display: inline-block;
}

.lists-list-items-item-actions a {
    transition: ease-in-out 0.3s all;
    font-size: 2em;
    padding-right: 5px;
    margin-bottom: 20px;
}

.lists-list-items-item-actions-due-datepicker {
    height: 0;
    width: 0;
    padding: 0;
    margin: 0;
    border: 0;
}


/* Datepicker */

.ui-datepicker {
    display: none;
    width: 220px;
    border-radius: 15px;
    border: 4px solid #1C263C;
    padding: 10px;
    background: rgba(255, 255, 255, 0.9);
    font-family: 'Montserrat', sans-serif;
    color: #1C263C;
}


/*Datepicker table */

.ui-datepicker-calendar {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.ui-datepicker-prev {
    float: left;
    cursor: pointer;
}

.ui-datepicker-next {
    float: right;
    cursor: pointer;
}

.ui-datepicker-title {
    text-align: center;
}

.ui-datepicker-calendar a {
    color: #1C263C;
    text-decoration: none;
    display:inline-block;
    width:100%;
    height:100%;
}

.ui-datepicker table{
    table-layout: fixed;
}

.ui-datepicker td {
    overflow: hidden;
    width: 26px;
}

.ui-datepicker-calendar .ui-state-active {
    background-color: #1C263C;   
    border-radius: 7px;
    color: white;   
}

.ui-datepicker-unselectable {
    opacity: 0;
}

.lists-list-items-item-actions-priority a:hover {
    color: olive;
}

.lists-list-items-item-actions-location a:hover {
    color: darkred;
}

.lists-list-items-item-actions-delete a:hover {
    color: rgb(200, 0, 0);
}

.lists-list-items-item-actions-done a:hover {
    color: green;
}

.lists-list-items-item-actions-due a:hover {
    color: rgb(0, 0, 150);
}

.lists-list-items-item-actions-done.toggled a {
    color: green;
}

.lists-list-items-item-actions-priority.toggled a {
    color: olive;
}


/*Completed Items*/

.lists-list-completed .lists-list-items-item-name h3 {
    text-decoration: line-through;
}

.lists-list-completed .lists-list-items-item-actions-done a {
    color: green;
}

.lists-list-completed .lists-list-items-item-actions-done a:hover {
    color: #1C263C;
}

.lists-list-completed ul {
    list-style: none;
    padding: 0;
}

.lists-list-completed-bar a {
    border-radius: 5px;
    text-align: center;
    display: block;
    background-color: white;
    color: grey;
    transition: ease-in-out 0.3s all;
}

.lists-list-completed-bar a:hover {
    background-color: #1C263C;
    color: white;
}

.lists-new {
    display: inline-block;
    vertical-align: middle;
    width: 400px;
    margin: 20px;
    text-align: center;
    height: 100%;
}

.lists-new a {
    color: white;
    transition: ease-in-out 0.3s all;
    font-size: 150px;
}

.lists-new a:hover {
    color: #1C263C;
}
