<li>
    <div class="lists-list-items-item">
        <div class="lists-list-items-item-name">
            <h3>Name</h3>
        </div>
        <input hidden type="text" placeholder="Item Name" name="itemName">
        <div class="lists-list-items-item-actions">
            <span class="lists-list-items-item-actions-done">
				<a href=""><i class="fa fa-check"></i></a>
			</span>
            <span class="lists-list-items-item-actions-priority">
				<a href=""><i class="fa fa-star"></i></a>
			</span>
            <span class="lists-list-items-item-actions-due">
				<input class="lists-list-items-item-actions-due-datepicker" name="date" type="text">
				<a href=""><i class="fa fa-calendar"></i></a>
			</span>
            <span class="lists-list-items-item-actions-delete">
				<a href=""><i class="fa fa-trash"></i></a>
			</span>
        </div>
    </div>
</li>