<li>
    <div class="lists-list-items-item">
        <h3></h3>
        <div class="lists-list-items-item-actions">
            <span class="lists-list-items-item-actions-due">
												<a href=""><i class="fa fa-calender"></i></a>
												<input type="date" name="due">
											</span>
            <span class="lists-list-items-item-actions-location">
												<a href=""><i class="fa fa-map-marker"></i></a>
											</span>
            <span class="lists-list-items-item-actions-priority">
												<a href=""><i class="fa fa-star"></i></a>
											</span>
        </div>
    </div>
</li>