<li>
    <div class="lists-list">
        <div class="lists-list-title">
            <div class="lists-list-title-heading">
                <h2>Title</h2>
            </div>
            <input hidden type="text" placeholder="List Name" name="listName">
            <div class="lists-list-actions">
                <span class="lists-list-actions-add">
					<a href=""><i class="fa fa-plus fa-2x"></i></i></a>
				</span>
                <span class="lists-list-actions-share">
					<a href=""><i class="fa fa-share fa-2x"></i></a>
				</span>
                <span class="lists-list-actions-delete">
					<a href=""><i class="fa fa-trash fa-2x"></i></a>
				</span>
                <!--Share Dialog - Separate -->
                <div class="lists-list-actions-share-dialog" hidden>
                    <h4>Currently shared with:</h4>
                    <div class="lists-list-actions-share-dialog-people">
                        <table>
                            <tr>
                                <td>Harjot Singh</td>
                                <td>H.Singh.4@warwick.ac.uk</td>
                                <td>
                                    <span class="lists-list-actions-share-dialog-person-delete">
													<a href="">Delete</a>
												</span>
                                </td>
                            </tr>
                        </table>
                        <div class="lists-list-actions-share-dialog-add">
                            <input type="email" name="email">
                            <a href="">Add</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="lists-list-items">
            <ul>
                <!--Incomplete List Item-->
            </ul>
        </div>
        <div class="lists-list-completed">
            <div class="lists-list-completed-bar">
                <a href="">Show Completed Items</a>
            </div>
            <ul hidden>
            </ul>
        </div>
    </div>
</li>